@model HotelSo.Models.Room
@{
    ViewData["Title"] = "Delete Room";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="text-center">
    <div class="col-md-4 mx-auto">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Bed)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Bed)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Size)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Size)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.View)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.View)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RoomType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RoomType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Floor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Floor)
            </dd>
        </dl>
        <form asp-action="Delete" asp-controller="Rooms" asp-route-id="@Model.Id" method="post">
            <div class="text-center">
                <div class="col-md-6 mx-auto">
                    <button type="submit" class="btn btn-block btn-outline-dark tx-tfm" style="margin: 5px">Delete</button>
                </div>
            </div>
        </form>
        <div class="text-center">
            <div class="col-md-6 mx-auto">
                <a asp-action="Rooms" asp-controller="Admin" class="btn btn-block btn-outline-dark tx-tfm" style="margin: 5px">Back</a>
            </div>
        </div>
    </div>
</div>
